@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* ----------- HEADER ----------- */
.header {
    background-color: #e6aa77;
    padding: 20px 0;
}

/* ----------- MENÚ SUPERIOR ----------- */
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.logo img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

/* NAVBAR */
.menu .navbar ul {
    display: flex;
}

.menu .navbar ul li {
    position: relative;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #4A3520;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #A67C52;
}

/* ICONO DEL MENÚ (MÓVIL) */
#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

/* ----------- CARRITO ----------- */
.submenu {
    position: relative;
}

#img-carrito {
    width: 35px;
    cursor: pointer;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    backdrop-filter: blur(10px);
    z-index: 1;
    background-color: rgba(74, 53, 32, 0.6);
    padding: 20px;
    min-width: 300px;
    border-radius: 8px;
}

/* Tabla del carrito */
table {
    width: 100%;
}

th, td {
    color: #ffffff;
}

.borrar {
    background-color: #A67C52;
    border-radius: 50%;
    padding: 5px 10px;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
}

/* ----------- CONTENIDO DEL HEADER ----------- */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.header-txt {
    flex-basis: 50%;
    margin-right: 25px;
}

span {
    color: #7A5630;
    font-size: 17px;
    font-weight: 600;
    display: block;
    margin-bottom: 25px;
}

.header-txt h1 {
    font-size: 70px;
    text-transform: capitalize;
    line-height: 1;
    color: #4A3520;
    margin-bottom: 35px;
}

.header-txt p {
    font-size: 17px;
    color: #7A5630;
    margin-bottom: 35px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.btn-1 {
    padding: 13px 25px;
    background-color: #D0B79F;
    color: white;
    text-transform: capitalize;
    border-radius: 5px;
}

.header-img {
    flex-basis: 50%;
    text-align: center;
}

.header-img img {
    height: 550px;
    object-fit: contain;
}



.oferts {
    padding: 100px 0;
    display: flex;
    gap: 20px;
}

.ofert-1 {
    flex: 1;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

.b1 { background-color: #A67C52; }
.b2 { background-color: #D0B79F; }
.b3 { background-color: #7A5630; }

.ofert-txt {
    flex-basis: 50%;
}

.ofert-txt h3 {
    font-size: 20px;
    color: #FFFFFF;
}

.ofert-txt a {
    color: #FFFFFF;
}

.ofert-img {
    flex-basis: 50%;
}

/* ============================= */
/*          PRODUCTOS            */
/* ============================= */
.products {
    padding: 0 0 50px 0;
    text-align: center;
}

h2 {
    font-size: 40px;
    color: #4A3520;
}

.box-container {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.box {
    border-top: 2px solid #A67C52;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(74,53,32,0.25);
    background-color: #F7EFE7;
    display: none;
}

.box:nth-child(-n+8) {
    display: inline-block;
}

.box img {
    height: 200px;
}

.product-txt h3 {
    font-size: 20px;
    color: #4A3520;
    margin-bottom: 10px;
}

.product-txt p {
    margin-bottom: 25px;
    color: #7A5630;
}

.precio {
    font-size: 17px;
    font-weight: 700;
    color: #A67C52 !important;
}

.btn-2, .btn-3 {
    background-color: #7A5630;
    margin-top: 50px;
    display: inline-block;
    padding: 11px 35px;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(74,53,32,0.3);
}

.btn-1:hover, .btn-2:hover, .btn-3:hover {
    background-color: #4A3520;
}

.btn-3 {
    margin: 0;
    padding: 8px 25px;
    border-radius: 5px;
}

/* ------------------ FOOTER ------------------ */
.footer {
    background-color: #4A3520;
    padding: 100px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-content .link {
    flex-basis: 23%;
    min-width: 200px;
}

.link h3 {
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 15px;
}

.link a {
    color: #D0B79F;
    display: block;
    margin-bottom: 10px;
}

.link a:hover {
    color: #F7EFE7;
}

/* ---------------- RESPONSIVE ---------------- */
@media (max-width:991px) {
    .menu {
        padding: 20px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: yellow;
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }
    #menu:checked ~ .navbar {
        display: initial;
    }
    .logo {
        display: none;
    }
    .menu .navbar ul li a:hover {
        color: #ffffff;
    }
    .submenu:hover #carrito {
        width: 100%;
    }
    .header {
        padding: 50 0 0;
    }
    .header-content {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }
    .header-txt {
        margin-right: 0;
    }
    .buttons {
        justify-content: center;
    }
    .btn-1 {
        margin-bottom: 0;
    }
    .header-img {
        display: none;
    }
    .oferts {
        padding: 30px;
        flex-direction: column;
    }
    .ofert-1 {
        margin-bottom: 15px;
    }
    .products {
        padding: 0 30px 30px 30px;
    }
    .testimonial {
        padding: 30px;
    }
    .testimonial-1 {
        margin-top: 20px;
        flex-direction: column;
        padding: 25px;
        margin-bottom: 25px;
    }
    .footer {
        padding: 30px;
    }
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}
